
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url(/imagenes/bglogin.jpeg);
    font-family: "Press Start 2P", serif;
}
.modal{
    background-image: url(/imagenes/bglogin.jpeg);
}

.nav-item{
    border: 1px solid #00ffff;
    box-shadow: 0 2px 5px 0px #00ffff;
    border-radius: 9%;
}
.card {
    max-width: 100%;
    width: 100%; 
    
    
}
button.btn.btn-primary{
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    padding: 10px;
    font-family: "Press Start 2P", serif;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 15px;
    color:white;
    font:bold;

}
    h5.card-title{
        color: white;
        font-family: "Press Start 2P", serif;
        font-size: 15px;
    }
 p.card-text{
    color: white;
    font-family: "Press Start 2P", serif;
    font-size: 10px;
 }
.card-body{
    
    background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.h2-comentarios{
    text-align: center;
}
.container-card-comentarios {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start; /* Centra los elementos verticalmente si el contenedor tiene altura definida */
    gap: 20px; /* Espaciado entre las cards */
    width: 100%;
    padding: 20px 10px; /* Agrega un poco de espacio en los lados */
    
}

/* Ajuste de las tarjetas por fila */
.div-box-comentario {
    width: calc(100% / 4 - 20px); /* 4 columnas por defecto */
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: flex-start;
}
@media (max-width: 1600px) {
    .div-box-comentario {
        width: calc(100% / 3 - 20px);
    }
    div.modal-content{
        opacity: 0.9;
        background: #c31432;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
      }
      
      div.modal-header{
        text-align: center;
        color: white;
      }
      .input-modal{
        text-align: center;
        background: #c31432;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    
      }
      .input-modal::placeholder { color:white; }
    
    
}

/* 3 columnas en pantallas de 1050px a 900px */
@media (max-width: 1200px) {
    .div-box-comentario {
        width: calc(100% / 3 - 20px);
    }
    div.modal-content{
        opacity: 0.9;
        background: #c31432;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
      }
      
      div.modal-header{
        text-align: center;
        color: white;
      }
      .input-modal{
        text-align: center;
        background: #c31432;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    
      }
      .input-modal::placeholder { color:white; }
    
    
}

/* 2 columnas en pantallas de 900px a 600px */
@media (max-width: 900px) {
    .div-box-comentario {
        width: calc(100% / 2 - 20px);
    }
    div.modal-content{
        opacity: 0.9;
        background: #c31432;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
      }
      
      div.modal-header{
        text-align: center;
        color: white;
      }
      .input-modal{
        text-align: center;
        background: #c31432;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    
      }
      .input-modal::placeholder { color:white; }
}

/* 1 columna en pantallas de 600px o menos */
@media (max-width: 600px) {
    .div-box-comentario {
        width: 100%;
    }
  div.modal-content{
    opacity: 0.9;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  
  div.modal-header{
    text-align: center;
    color: white;
  }
  .input-modal{
    text-align: center;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

  }
  .input-modal::placeholder { color:white; }
}