* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-image: url("https://img3.wallspic.com/previews/9/3/0/4/6/164039/164039-banner_de_contraccion_de_la_galaxia-contraccion_nerviosa-banner_web-streaming_de_medios_de_comunicacion-gamer-500x.jpg");
}

/* Si decides mantener las reglas de 'Feature/contacto': */
.container-fluid a {
  color: white;
}

/* Si decides mantener las reglas de 'dev': */
.logo {
  width: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-top: 200px;
  background-color: black;
  border: 2px solid #9400ff;
  box-shadow: 0px -10px 30px 5px rgba(148, 0, 255, 0.7);

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
    font-family: "Press Start 2P", cursive;
    &:hover {
      color: #9400ff;
    }
  }

  img {
    width: 90px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 50px;
      margin-bottom: 10px;
    }
  }
}
