* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  background-color: black;
  border: 2px solid #8a2be2;
  padding: 15px;

  .row {
    .img-footer {
      width: 90px;
      filter: drop-shadow(0 0 10px #8a2be2);
      margin-top: 15px;
    }

    ul {
      list-style: none;
    }

    a {
      color: white;
      text-decoration: none;
      transition: color 0.5s ease;

      &:hover {
        color: #8a2be2;
      }
    }
  }

  #col-1 {
    display: flex;
    flex-direction: row;
    margin-top: 27px;
    gap: 15px;
  }

  #col-3 {
    display: flex;
    flex-direction: row;
    margin-top: 27px;
    gap: 15px;
  }
}

@media screen and (min-width: 992px) {
  .col-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .col-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-footer {
    position: relative;
    right: 10%;
  }
}
