* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-image: url("https://img3.wallspic.com/previews/9/3/0/4/6/164039/164039-banner_de_contraccion_de_la_galaxia-contraccion_nerviosa-banner_web-streaming_de_medios_de_comunicacion-gamer-500x.jpg");
}

/* Si decides mantener las reglas de 'Feature/contacto': */
.container-fluid a {
  color: white;
}

/* Si decides mantener las reglas de 'dev': */


.section {
  background-color: black;
  padding: 10px;

  .título-h2 {
    background-color: black;
    color: white;
  }

  .card {
    border: 1px solid #9d00ff;
    img {
      width: auto;
      height: auto;
      object-fit: cover;
    }
  }

  .card-body {
    background-color: gray;
    p {
      font-size: 1rem;
      color: white;
      text-align: center;
    }
  }

  .card-title {
    color: white;
  }

  .btn-card-propio {
    background-color: black;
    color: white;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: orange;
      color: black;
    }
  }
}
